In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("empinfo.csv")

In [ ]:
df.head(3)

In [ ]:
#first 10 rows
df.head(10)

In [ ]:
# last 10 rows
df.tail(10)

In [ ]:
output = df.head(10)
output.to_csv("first10records.csv",index=False)

In [ ]:
#!pip install openpyxl

In [ ]:
output.to_excel("first10.xlsx",index=False)

In [ ]:
#df.iloc[rows,columns]
df.iloc[10:15]  # if are not mentioned ... all columns wil be displayed

In [ ]:
#df.iloc[rows ,columns]
df.iloc[10:15 , 0:3]

In [ ]:
df.loc[0:3,"age":"education"]

In [ ]:
columns = ["age","workclass","education"] 
df.loc[0:3, columns ]

In [ ]:
# display rows,columns
df.shape

In [ ]:
# display information of datatypes
df.info()

In [ ]:
# display datatypes
df.dtypes

In [ ]:
# get the summary
df.describe()

In [ ]:
df

In [ ]:
df.sample(n = 10)

In [ ]:
# select column1 from table1
# displays single column
df['workclass']

In [ ]:
# select col1,col2 from table
# display multiple columns
df[['workclass','age','education']]

In [ ]:
# select * from table where column1 =''
condition = df['education'] == ' Bachelors'
df[condition]

In [ ]:
cond2 = df['age'] == 30
df[cond2]

In [ ]:
# with 2 conditions
cond1 = df['education'] == ' Bachelors'
cond2 = df['age'] == 30

df[ cond1 & cond2]

In [ ]:
cond1 = df['education'] == ' Bachelors'
cond2 = df['education'] == ' Masters'

df[ cond1 | cond2]

In [ ]:
#df[(cond1) & (cond2)]
df[(df['education'] == ' Bachelors') & (df['age'] == 30)]

In [ ]:
cond1 = df['education'].str.strip() == 'Bachelors'
df[cond1]

In [ ]:
# display all unique work classes
df['workclass'].unique()

In [ ]:
# display no. of unique work classes
df['workclass'].nunique()

In [ ]:
# display all distinct workclasses and get the count of it
df['workclass'].value_counts()

In [ ]:
# sorting based on age in ascending order
df.sort_values('age')

In [ ]:
# descending order
df.sort_values('age', ascending=False)

In [ ]:
#  remove duplicates
df.drop_duplicates()

In [ ]:
# drop columns
df.drop(columns = ['age','education','workclass'] )

In [ ]:
# handling missing values
df.dropna()   # droping null values

In [ ]:
df.fillna(0)    # fill null values with 0